.activeLinkContainer {
  padding: 4px 12px;
  border-radius: 8px;
  color: #12b886;
  background: #12b8861a;
}

.inactiveLinkContainer {
  padding: 4px 12px;
  border-radius: 8px;
  color: inherit;
  background: none;
}
