.topbar {
  grid-area: a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  padding: 0 24px;
}

.leftSide {
  display: flex;
  align-items: center;
  gap: 16px;
}
